*{
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
body {
line-height: 1;
background:#c0c0c0;
}
ol, ul {
 list-style: none;
}
blockquote, q {
quotes: none;
}
:focus {
outline: 0;
}
ins {
text-decoration: none;
}
del {
text-decoration: line-through;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

.b--page {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Times New Roman";
}
.header {
    min-width: 900px;
    height: 70px;
}
.header--list {
    list-style-type: none;
    float: right;
    margin: auto 10px;
}
